<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d2968a73-9f36-4015-95e2-c3ef6e630707/resourceGroups/SportNews/providers/Microsoft.Web/sites/SportNewNews</ResourceId>
    <ResourceGroup>SportNews</ResourceGroup>
    <ApiResourceId>/subscriptions/d2968a73-9f36-4015-95e2-c3ef6e630707/resourceGroups/SportNews/providers/Microsoft.ApiManagement/service/SportNewsAPI/apis/SportAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sportnewnews.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>5bb2321f-9141-4d2e-9083-94885c16487a</ProjectGuid>
    <PublishUrl>https://sportnewnews.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SportNewNews</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>